
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
Godot*.exe
python_files/
results.json

# Save Data
GlobalData-Saved.json
StarterCode-Saved.py
StarterCode-Temp.py
TaskData-Saved.json
TaskData-Temp.json


#DS store for MacOS
.DS_Store

# Mono-specific ignores
.mono/
data_*/
